In [2]:
import numpy as np
import os
from pandas import read_csv as read

In [17]:
path = "C:/Users/Admin/Desktop/HousesUSA.csv"
data = read(path, delimiter=",")

In [19]:
import subprocess
from tqdm import trange

for i in range(1,4600):
    command = "mapbox --access-token pk.eyJ1IjoiaXBpcG9zIiwiYSI6ImNrdGw5czZxbjFpbTUyd282YjlqY2ZvODMifQ.mnnD6BdczXSaIlFJFC_byQ geocoding --limit 1 "
    command += "\"" + data.loc[j,"street"] + ", " + data.loc[j,"city"] + ", " + data.loc[j,"statezip"] + ", " + data.loc[j,"country"] + "\""
    fileText = subprocess.check_output(command, shell=True).decode()

    index = fileText.find("center")
    index2 = fileText.find(']', index + 3)
    index3 = fileText.rfind(',', index + 3, index2)

    data.loc[j,"lat"] = fileText[index+9:index3]
    data.loc[j,"lon"] = fileText[index3+1:index2]

-122.09204
47.371093

In [ ]:
with open_file('C:/Users/Admin/Desktop/HousesUSA.csv','r') as infile:
      data.to_csv('housesUSAWithCoor.csv',mode='a',header=False)

In [14]:
data.to_csv('housesUSAWithCoor.csv',mode='a',header=False)

In [22]:
path = "housesUSAWithCoor.csv"
data = read(path, delimiter=",")
data

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country,lat,lon
0,2014-05-02 00:00:00,3.130000e+05,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA,-122.338866,47.765807
1,2014-05-02 00:00:00,2.384000e+06,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA,-122.366902,47.634540
2,2014-05-02 00:00:00,3.420000e+05,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA,-122.150440,47.367610
3,2014-05-02 00:00:00,4.200000e+05,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA,-122.113830,47.618714
4,2014-05-02 00:00:00,5.500000e+05,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA,-122.113946,47.683043
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,2014-07-09 00:00:00,3.081667e+05,3.0,1.75,1510,6360,1.0,0,0,4,1510,0,1954,1979,501 N 143rd St,Seattle,WA 98133,USA,-122.352880,47.732001
4596,2014-07-09 00:00:00,5.343333e+05,3.0,2.50,1460,7573,2.0,0,0,3,1460,0,1983,2009,14855 SE 10th Pl,Bellevue,WA 98007,USA,-122.141062,47.601178
4597,2014-07-09 00:00:00,4.169042e+05,3.0,2.50,3010,7014,2.0,0,0,3,3010,0,2009,0,759 Ilwaco Pl NE,Renton,WA 98059,USA,-122.149341,47.494981
4598,2014-07-10 00:00:00,2.034000e+05,4.0,2.00,2090,6630,1.0,0,0,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178,USA,-122.268170,47.507746
4599,2014-07-10 00:00:00,2.206000e+05,3.0,2.50,1490,8102,2.0,0,0,4,1490,0,1990,0,18717 SE 258th St,Covington,WA 98042,USA,-122.092040,47.371093

In [28]:
data2 = data.drop(data.columns[14:18], axis=1)

In [66]:
X = data2.values[::, 2:16]
y = data2.values[::, 1:2]

from sklearn.model_selection import train_test_split as train
X_train, X_test, y_train, y_test = train(X, y, test_size=0.6)

from sklearn.ensemble import RandomForestRegressor
clf = RandomForestRegressor(n_estimators=100, n_jobs=-1, max_depth=3, random_state=0)
clf.fit(X_train, y_train)
print(clf.score(X_train, y_train))
print(clf.score(X_test, y_test))

0.3806897520704464
0.47357053174903907

<ipython-input-66-39f352ce500b>:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  clf.fit(X_train, y_train)

In [67]:
for a, b in zip(clf.predict(X_test[:10]), y_test[:10]):
    print(a, b)

400953.98486503103 [199000.0]
615901.8008730034 [672500.0]
537422.6769739173 [1365000.0]
476504.2207412834 [437000.0]
383391.0480596289 [536751.0]
338328.9227649122 [254000.0]
604813.128913178 [809950.0]
662244.3701907534 [645000.0]
336550.13907698833 [245000.0]
927096.5492942978 [780000.0]

In [55]:
clf.feature_importances_

array([3.49892185e-04, 1.60654077e-02, 5.81271837e-01, 3.79252589e-03,
       1.63570736e-03, 1.55761304e-03, 3.91839528e-03, 1.48334632e-03,
       4.97774958e-03, 4.06955501e-03, 1.19420840e-02, 3.54986320e-03,
       1.73226778e-01, 1.92159246e-01])

In [56]:
import pickle

with open("model.pkl", "wb") as f:
    pickle.dump(clf, f)